* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

a {
    text-decoration: none;
    color: rgb(2, 2, 63);
    font-size: larger;
    font-weight: bolder;
}

ul {
    list-style-type: disc;
    padding: 5px 0px 0px 25px;
}

li {
    padding: 0px 0px 10px 0px;
}

.content-box {
    width: max-content;
    margin: 0px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 10px 20px black;
}

.recipe-cards {
    width: 550px;
}